#Client Secrets
# All client-side env vars must start with REACT_APP_ https://wasp-lang.dev/docs/project/env-vars
REACT_APP_PLAUSIBLE_SITE_ID=your_site_domain #Same as PLAUSIBLE_SITE_ID
REACT_APP_PLAUSIBLE_ANALYTICS_ID=your_site_domain #Same as PLAUSIBLE_SITE_ID
REACT_APP_API_URL=https://api.example.com #Your API server URL (same as WASP_SERVER_URL)